---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import BuyLogo from "../../components/BuyLogo.astro";
import { SHOW_BUY_BUTTON } from "astro:env/server";
import BookScore from "../../components/BookScore.astro";
import BuyButton from "../../components/BuyButton.astro";

export async function getStaticPaths() {
    const books = await getCollection("books");

    return books.map((book) => ({
        params: { id: book.slug },
        props: { book },
    }));
}

const { book } = Astro.props;
const { data, slug } = book;
const { title, author, img, pages, description, buy } = data;
const { Content } = await render(book);

export const prerender = true;
---

<Layout title={`${title} - Dev Store`}>
    <div class="grid grid-cols-1 gap-y-7 mx-auto md:grid-cols-2">
        <div class="flex flex-col items-center max-w-md">
            <a href="/" class="hover:underline opacity-70 mb-6">⬅️Volver</a>
            <img
                transition:name={`img-${slug}`}
                class="rounded w-72 h-auto"
                src={`/${img}`}
                alt={title}
            />
            <BookScore client:load id={slug}>
                <span slot="fallback" class="text-xs opacity-70 my-6"
                    >Cargando puntuacion...</span
                >
            </BookScore>
            {SHOW_BUY_BUTTON && <BuyButton client:load buy={buy} />}
        </div>
        <main class="grid content-center max-w-3xl">
            <h1
                transition:name={`title-${slug}`}
                class="text-2xl font-semibold mb-4 max-w-2xl max-h-16"
            >
                {title}
            </h1>
            <div class="prose prose-invert text-sm text-left">
                <Content />
            </div>
        </main>
    </div>
</Layout>
